table {
  border-spacing: 0px;
  border: 1px black solid;
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}

td {
  width: 12.5%;
  height: 0px;
  margin: 0;
  padding: 0 0 12.5% 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center, top left, top right, bottom left, bottom right;
}

td.hybrid {
  background-size: 80% auto, 50% auto, 50% auto, 50% auto, 50% auto;
}

td.white {
  background-color: #ffffff;
}

td.black {
  background-color: #808080;
}

td.prev-move.black {
  background-color: #aabbff;
}

td.prev-move.white {
  background-color: #bbccff;
}

td.selected.black {
  background-color: #c0c000;
}

td.selected.white {
  background-color: #dddd00;
}

td.available-move.black {
  background-color: #209920;
}

td.available-move.white {
  background-color: #22dd22;
}

td.check-move.black {
  background-color: #d04040;
}

td.check-move.white {
  background-color: #dd6666;
}

td.check.black {
  background-color: #c00000;
}

td.check.white {
  background-color: #dd0000;
}


#message {
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
}

#container {
  text-align: center;
}

button {
  font-size: 120%;
}

.hidden {
  display: none;
}
